header {
    height: 150px;
    padding: 50px;
}
header>div {
    display: inline-block;
}
header>div:last-child {
    text-align: right;
}
main {
    height: 600px;
    position: relative;
    overflow: hidden;
}
footer {
    padding: 50px;
}
#wel-txt {
	position: absolute;
	left: 50px;
	top: 50px;
	font-size: 36px;
	color: white;
}
  .carousel-inner > .item {
      height: 600px;
  }