body {
    margin: 0px;
    height: 100%;
    
}

html{
	 height: 100%;
}

header {
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

header .row>div:nth-child(1) {
    text-align: center;
}

header .row>div:last-child{
    text-align: right;
}
header .row>div:last-child>div{
    display: inline-block;
    padding-right: 50px;
}

main {
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    text-align: center;
}

#searchContainer {
    text-align: center;
    height: 30px;
}
#searchBox {
    display: inline-block;
}
#searchBox>input, #searchBox>button {
    vertical-align: center;
    float: left;
}
#queryInput {
    font-size: 24px;
    width: 400px;
    color: #444;
}
#queryInput::-webkit-outer-spin-button, #queryInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}
#searchBox button{
    margin: 0 10px;
}
.tabWork .tabsContainer {
    float: none;
    background-color: #444;
}

.tabWork .tabsContainer li>a{
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    padding: 20px 50px;
}
.tabWork .tabsContainer li>a:hover{
    background-color:#0074df;
}
.tabWork .tabsContainer li{
    margin: 0px 0px;
}
#displayBox {
    margin: 20px 30px;
    width: 900px;
    display: inline-block;
}
.tabWork .frams {
    display: block;
    min-height: 400px;
    border: 3px solid #0094ff;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
#form-data {
    display: none;
}
#logoImg {
    margin-top: 100px;
}

#logoImg img {
    transition-property: transform;
    transition-duration: 1s;
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
footer {
    background-color: #dd8800;
    height: 50px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    color: white;
}
footer a {
    color: white;
    cursor: pointer;
}